body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to bottom, #483D8B, #6A5ACD, #836FFF, #9370DB, #BA55D3, #DDA0DD, #FFB6C1, #FFA07A);  */
    background: linear-gradient(to bottom, #483D8B, #6A5ACD, #836FFF, #9370DB);
}

.container {
    text-align: center;
    width: 300px;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    color: black;
    margin-top: 20px;
}

a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

.container > p {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}