<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskConnect</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css"> <!-- Link to external CSS file -->
</head>
<body>
    <div class="container">
        <h1>Flask Expert</h1>
        <h4>Ask any question and get an answer from our expert bot in seconds</h4>
        <p>Please <a href="/login">Login</a> or <a href="/signup">Signup</a> to continue</p>
    </div>
</body>
</html>
